
@import "dataTables/jquery.dataTables.bootstrap";
@import "bootstrap";


.warn {
  color: red;
}

.base-player {
  color: green;
}

.reserve-player {
  color: orange;
  &:after {
    content: 'Reserve - please bring your kit';
  }
}