@import "bootstrap-sprockets";
@import "bootstrap";
@import "dataTables/bootstrap/3/jquery.dataTables.bootstrap";

.warn {
  color: red;
}

.base-player {
  color: green;
}

.reserve-player {
  color: orange;
  &:after {
    content: '(reserve - please bring your kit)';
  }
}